body {
    margin: 0;
    /*background: url(/assets/img/banner.jpg);*/
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.content {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li:not(.right) {
    float: left;
}

li.right {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.a-container {
    position: relative;
    max-width: 800px; /* Maximum width */
    margin: 0 auto; /* Center it */

}

.a-container .content {
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 110%; /* Full width */
    padding: 20px; /* Some padding */

}

.a-container img {
    vertical-align: center;
    background-size: contain;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #1c8adb;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    padding: 0 15px 0 15px;
}

input[type=text], input[type=password], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=date], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=time], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.btn {
    border: none;
    color: white;
    padding: 14px 28px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
}

.appointments {
    background-color: #1c8adb;;
}

/* Blue */
.appointments:hover {
    background-color: #4665a0;
}

.profile {
    background-color: #1c8adb;;
}

/* Green */
.profile:hover {
    background-color: gray;
}

.Login {
    background-color: #4665a0;
}

/* Blue */
.Login:hover {
    background-color: #4665a0;
}

.Register {
    background-color: #4665a0;
}

/* Blue */
.Register:hover {
    background-color: #4665a0;
}

footer {
    padding: 0em;
    bottom: 0;
    position: absolute;
    width: 100%;
    color: black;
    background-color: white;
    clear: left;
    text-align: center;

}

.login-box {
    width: 320px;
    height: 420px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1 {
    margin: 0;
    padding: 0 0 20px;
    font-size: 24px;
}

h1:not(.h1-no-center) {
    text-align: center;
}

div.title-box {
    margin: 0 35px 0 35px;
}

div.title-box div.right {
    float: right;
}

div.title-box button {
    background-color: #4CAF50;
    border: 1px solid black;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 16px;
}

div.title-box input, div.title-box select {
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 16px;
    padding: 0;
    margin: 0;
    width: auto;
}

.login-box p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.login-box input {
    width: 100%;
    margin-bottom: 20px;
}

.login-box input[type="text"], .login-box input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: #eee;
    outline: none;
    height: 40px;
    font-size: 16px;
}

.login-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #1c8adb;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.login-box input[type="submit"]:hover {
    cursor: pointer;
    background: #39dc79;
    color: #000;
}

.login-box a {
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}

.login-box a:hover {
    color: #39dc79;
}

.register-box {
    width: 640px;
    height: 520px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.register-box .cont {
    width: 260px;
    display: inline-block;
}

.register-box .cont:nth-child(odd) {
    margin-right: 55px;
}

.register-box p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.register-box input {
    width: 100%;
}

.register-box input[type="text"], .register-box input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: #eee;
    outline: none;
    height: 40px;
    font-size: 16px;
}

.register-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #1c8adb;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.register-box input[type="submit"]:hover {
    cursor: pointer;
    background: #39dc79;
    color: #000;
}

.register-box a {
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}

.register-box a:hover {
    color: #39dc79;
}

.error {
    color: pink;
    font-size: 10px;
}

.appointment-box {
    width: 320px;
    height: 480px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    top: 45%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 50px 40px;
}

.appointment-box p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.appointment-box input {
    width: 100%;
    margin-bottom: 20px;
}

.appointment-box input[type="text"], .appointment-box input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.appointment-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #1c8adb;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.appointment-box input[type="submit"]:hover {
    cursor: pointer;
    background: #39dc79;
    color: #000;
}

.appointment-box a {
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}

.appointment-box a:hover {
    color: #39dc79;
}

.appointments-box {
    margin: 0 35px 35px 35px;
    border: 1px solid black;
    height: 580px;
    overflow-y: scroll;
}
