body {
    margin: 0 auto;
    background-color: whitesmoke;

}


.content {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}


.a-container {
    position: relative; 
    max-width: 800px; /* Maximum width */
    margin: 0 auto; /* Center it */

}
.a-container .content {
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 110%; /* Full width */
    padding: 20px; /* Some padding */

}

.a-container img {
    vertical-align: middle;
}


.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

input[type=submit]:hover {
    background-color: #45a049;
    resize: vertical;
   
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=date], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=time], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.btn {
    border: none;
    color: white;
    padding: 14px 28px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
}


.appointments {background-color:  #4665a0;} /* Blue */
.appointments:hover {background-color: #4665a0;}

.profile {background-color:  gray;} /* Green */
.profile:hover {background-color: gray;}

.Login {background-color:  #4665a0;} /* Blue */
.Login:hover {background-color: #4665a0;}

.Register {background-color:  #4665a0;} /* Blue */
.Register:hover {background-color: #4665a0;}

footer {
    padding: 0em;
    bottom: 0;
    position: absolute;
    width: 100%;
    color: black;
    background-color: white;
    clear: left;
    text-align: center;
    
}



